<mat-list>
  <h2>Lista de Tareas - ({{getTotalTasks()}})</h2>
  <h4 *ngIf="getTotalTasks()!=0" class="doneTask">Tareas Completadas - ({{getTotalCompletedTasks()}})</h4>
  <div class="task-list-container">
    <mat-list-item *ngFor="let task of tasks">
      <div class="task-item" [ngClass]="setItemClass(task.status)">
        <div class="task-details" (click)="selectTask(task)">
          <h4>{{ task.title }}</h4>
          <span>{{ task.description }}</span>
          <span><strong>Estado:</strong> {{ getStatusLabel(task.status) }}</span>
          <span><strong>Vence:</strong> {{ task.dueDate | date:'shortDate' }}</span>
        </div>
  
        <div class="task-actions">
          <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <hr >
    </mat-list-item>
    <span *ngIf="getTotalTasks()==0">No hay tareas enlistadas</span>
  </div>
</mat-list>