.margin-top{
    margin-top: 5%;
}

::ng-deep mat-list-item {
  height: auto !important; /* Allow content to expand */
  align-items: start;
}

.task-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
}

.task-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.task-details:hover{
  background-color: #ddd;
}

.task-actions {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.task-list-container{
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.doneTask{
  color: green;
}

.itemCompleted{
  border: 3px solid green;
}

.itemPending{
  border: 3px solid orange (255, 136, 0);
}